<div class="container my-5">
  <div class="task-form-box bg-white p-4 rounded shadow-sm">
    <h5 class="mb-3">
      {{ selectedTask ? 'Modifier la tâche' : 'Ajouter une nouvelle tâche' }}
    </h5>
    

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">

        <!-- Titre -->
        <div class="col-md-9 mb-3">
          <input type="text" formControlName="title" class="form-control" placeholder="Titre de la tâche"
            [ngClass]="{'is-invalid': taskForm.controls['title'].invalid && taskForm.controls['title'].touched}">
          <div class="invalid-feedback">Le titre est requis.</div>
        </div>

        <!-- Priorité -->
        <div class="col-md-3">
          <select formControlName="priority" class="form-select">
            <option value="" disabled>Priorité</option>
            <option value="HIGH">Haute</option>
            <option value="MEDIUM">Normale</option>
            <option value="LOW">Basse</option>
          </select>
        </div>

        <!-- Description -->
        <div class="col-12">
          <textarea formControlName="description" rows="4" class="form-control" placeholder="Description"
            [ngClass]="{'is-invalid': taskForm.controls['description'].invalid && taskForm.controls['description'].touched}"></textarea>
          <div class="invalid-feedback">La description est requise.</div>
        </div>

        <!-- Bouton Valider -->
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-validate px-5">
            {{ selectedTask ? 'Enregistrer' : 'Valider' }}
          </button>
        </div>

      </div>
    </form>

    <!-- Message de succès -->
    <div *ngIf="successMessage" class="alert alert-success mt-3 text-center">
      {{ successMessage }}
    </div>
  </div>
</div>
