<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="login-container">
    <h2 class="login-title">Connexion au compte</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input id="email" type="email" class="form-control" placeholder="Adresse mail" formControlName="email" />
        <div class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          <small *ngIf="loginForm.get('email')?.errors?.['required']">Email requis.</small>
          <small *ngIf="loginForm.get('email')?.errors?.['email']">Email invalide.</small>
        </div>
      </div>

      <div class="form-group">
        <input id="password" type="password" class="form-control" placeholder="Mot de passe" formControlName="password" />
        <div class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Mot de passe requis.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Mot de passe de 5 caractères minimum.</small>
        </div>
      </div>

      <button type="submit" class="btn custom-btn" [disabled]="loginForm.invalid">
        Se connecter
      </button>
    </form>
  </div>
</div>
