<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand cowork-brand" href="/">COWORK</a>

    <!-- Conteneur flex pour les boutons -->
    <div class="d-flex">
      <ng-container *ngIf="!tokenExists">
        <a routerLink="/login" class="btn btn-primary me-2">Se connecter</a>
        <a routerLink="/signup" class="btn btn-outline-primary">S'inscrire</a>
      </ng-container>

      <ng-container *ngIf="tokenExists">
        <button (click)="logout()" class="btn btn-danger">Se déconnecter</button>
      </ng-container>
    </div>
  </div>
</nav>


<!-- Contenu principal -->
<div class="container mt-4">
  <h1 class="text-center">Bienvenue sur notre application !</h1>

  <app-task-main *ngIf="!isHomePage"></app-task-main>
  <app-home *ngIf="isHomePage"></app-home>

<router-outlet></router-outlet>