.navbar {
    padding: 10px 0;
  }

  .cowork-brand {
    font-weight: 800;
    font-size: 40px;
    color: #4E3CDB !important;
    letter-spacing: 1px;
  }
  
  .container h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .btn {
    font-size: 0.9rem;
  }
  
  .text-center a {
    text-decoration: none;
  }

h1{
  font-size: 40px;
  font-weight: 800;
}