<div class="container">
    <h1>Formulaire d'inscription</h1>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email :</label>
        <input id="email" type="email" formControlName="email" />
        <div *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
          <small *ngIf="signupForm.get('email')?.errors?.['required']">Email requis.</small>
          <small *ngIf="signupForm.get('email')?.errors?.['email']">Email invalide.</small>
        </div>
      </div>
  
      <div>
        <label for="password">Mot de passe :</label>
        <input id="password" type="password" formControlName="password" />
        <div *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
          <small *ngIf="signupForm.get('password')?.errors?.['required']">Mot de passe requis.</small>
          <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Mot de passe de 5 caractères minimum.</small>
        </div>
      </div>
  
      <button type="submit" [disabled]="signupForm.invalid">S'inscrire</button>
    </form>

</div>