<div class="d-flex justify-content-center align-items-center min-vh-100"> 
    <div class="signup-container">
      <h2 class="signup-title">Inscription</h2>

      <div *ngIf="errorMessage" class="alert alert-danger text-center">
          {{ errorMessage }}
      </div>

      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input id="email" type="email" class="form-control" placeholder="Adresse mail" formControlName="email" />
          <div class="error-message" *ngIf="signupForm.get('email')?.touched && signupForm.get('email')?.invalid">
            <small *ngIf="signupForm.get('email')?.errors?.['required']">Email requis.</small>
            <small *ngIf="signupForm.get('email')?.errors?.['email']">Email invalide.</small>
          </div>
        </div>

        <div class="form-group">
          <input id="password" type="password" class="form-control" placeholder="Mot de passe" formControlName="password" />
          <div class="error-message" *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid">
            <small *ngIf="signupForm.get('password')?.errors?.['required']">Mot de passe requis.</small>
            <small *ngIf="signupForm.get('password')?.errors?.['minlength']">Mot de passe de 5 caractères minimum.</small>
          </div>
        </div>

        <button type="submit" class="btn custom-btn" [disabled]="signupForm.invalid">
          S'inscrire
        </button>
      </form>
    </div>
</div>
