.container {
  padding-bottom: 100px;
}

h5 {
  font-size: 32px;
  font-weight: 800;
}

.task-title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 4px;
}

.task-desc {
  white-space: normal;
  word-break: break-word;
  color: black;
  font-size: 18px;
  margin-bottom: 0;
}

.task-badge-priority,
.task-badge-user {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 97px;
  height: 27px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 12px;
}

.task-badge-priority {
  background-color: #7AB986;
  color: white;
  font-weight: 700;
}

.task-badge-user {
  background-color: #4E3CDB;
  color: white;
  font-weight: 500;
}

.btn-edit {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4E3CDB;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-edit img,
.btn-edit i {
  width: 18px;
  height: 18px;
}

.list {
  width: 990px;
}

.rounded-checkbox {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  color: #B8B8B8;
}

.card-container {
  width: 990px;
  margin: 0 auto;
}

.task-card,
.custom-task-card {
  width: 480px;
  min-height: 321px;
  border-radius: 20px;
  background-color: #FAFAFA;
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 41px;
}

.add-task-btn {
  width: 990px;
  margin: auto;
}

.custom-add-task {
  border: 1px solid #A39AEE;
  background-color: #EFEDFE;
  border-radius: 20px;
  height: 70px;
  font-size: 24px;
  font-weight: 500;
  padding: 0 35px;
  color: #000;
  text-align: center;
}

.icon-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4E3CDB;
  padding: 5px;
}

.gap-40 {
  gap: 40px;
}

.card-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 480px);
  justify-content: center;
  gap: 30px;
}




.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}